<p><strong>Checkpoints:    </strong> <strong>Opening Times:    </strong> <strong>Closing Times</strong></p>
{% for item in items %}
  <p>{{ item._dist }} &nbsp:&nbsp {{ item._open }} &nbsp:&nbsp {{ item._close }}</p>
{% endfor %}
